<div ng-show"posts.length">
  <h1>Here is posts for u LOLZ</h1>
  <ul>
    <li ng-repeat="item in posts | orderBy : 'votes' : true">
      <p><a ui-sref="posts.comments({ postId: item.id })">Comment on post: {{ item.name }}</a></p>
      <p><a ng-href="http://{{ item.name }}" target="_blank" ng-mousedown="openTab()">Go to this link</a></p>
      <p><button ng-click="PostsFactory.upVotes(item)" class="btn btn-success">Number of UpVotes: {{ item.votes }}</button></p>
    </li>
  </ul>
</div>

<div class="col-md-4">
  <h3>Add a new post</h3>
  <form ng-submit="PostsFactory.addPost()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="PostsFactory.postName" class="form-control" placeholder="Enter a link url">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<div ui-view> </div>
